{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "assets": "./assets",
          "components": "./components",
          "styles": "./styles",
          "utils": "./utils",
          "validation": "./validation"
        }
      }
    ]
  ]
}